body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b263b;
    padding: 15px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00b4d8;
}

.logo {
    color: white;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: white;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background: #1b263b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: #00b4d8;
}

/* CONTENT */
.content {
    padding: 50px 30px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-top: 30px;
}

.content h2 {
    margin-top: 30px;
}

.content ul {
    margin-top: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1b263b;
    color: white;
    margin-top: 40px;
}
